#footer
  .footer-info
    p
      span  Copyright &copy;
        a(href=url_for('.'), rel='nofollow')= (config.author || config.title) + '.'
      span
        a(rel='nofollow', target='_blank', href='http://beian.miit.gov.cn') 粤ICP备17085181号.